.chip {
    border-radius: 30px;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 12px;
    width: fit-content;
}

.accent-1 {
    background-color: var(--accent-1);
    color: white;
}

.accent-2 {
    background-color: var(--accent-2);
    color: white;
}

.accent-3 {
    background-color: var(--accent-3);
    color: white;
}

.border.green {
    border: 2px solid var(--green);
    color: var(--green);
}

.border.grey {
    border: 2px solid var(--grey);
    color: var(--grey);
}

.border.red {
    border: 2px solid var(--red);
    color: var(--red);
}