input:focus-visible,
textarea:focus-visible {
    outline: none;
}

input,
textarea,
.select-input {
    border: 1px solid var(--grey);
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    min-height: 16px;
    padding: 8px 12px;
    resize: none;
    transition: border-color 0.2s;
    width: calc(100% - 20px);
}

::placeholder {
    color: var(--grey);
    opacity: 1;
}

::-ms-input-placeholder {
    color: var(--grey);
}