// #region --- Margin Top
.mt-4 {
    margin-top: 4px;
}

.mt-18 {
    margin-top: 18px;
}

// #endregion

// #region --- Margin Right
.mr-52 {
    margin-right: 52px;
}

.mr-28 {
    margin-right: 28px;
}

// #endregion

// #region --- Margin Bottom

.mb-2 {
    margin-bottom: 2px;
}

.mb-6 {
    margin-bottom: 6px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-18 {
    margin-bottom: 18px;
}

.mb-28 {
    margin-bottom: 28px;
}

// #endregion