:root {
    --primary: #00b2ca;
    --secondary: #091C42;
    --accent-1: #EC368D;
    --accent-2: #E65C36;
    --accent-3: #EC962D;
    --green: #00b487;
    --red: #DF1E1E;
    --light-grey: #d0dcea;
    --grey: #8796B6;
}