:root {
    --primary: #007DA3;
    --secondary: #091C42;
    --accent-1: #E11476;
    --accent-2: #E03000;
    --accent-3: #da7800;
    --green: #00b487;
    --red: #DF1E1E;
    --light-grey: #d0dcea;
    --grey: #8796B6;
}